*{
    margin: 5px 5px;
}
header {
    width: 1320px;
    height: 600px;
    background-image: url("../resources/Banner\ Image.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.Banner-para1 {
    width: 259px;
    height: 40px;
    color: #f80404;
    font-size: 32px;
    font-weight: 40px;
    margin-left: 30%;
    padding: 0px;
    line-height: normal;
}

.Banner-h1 {
    width: 632px;
    height: 190px;
    color: #5a03fc;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-left: 10%;
}


.main {
}



.main-h1 {
    color: #f80404;
    font-size: 88px;
    margin: 2px 500px;
    height: 100px;
    width: 400px;
}

.main-para1 {
    color: #f80404;
    font-size: 24px;
    margin: 10px 500px ;
}

.main-h2 {
    color: black;
    font-size: 48px;
    margin: 2px 500px;
}

.main-img {
    width: 802px;
    height: 500px;
    margin: 2px 290px;
    
}

.container {
    width: 1320px;
    height: 600px;
    background-image: url("../resources/Vectorrr.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.main2 {}





.container-h1 {
    color: #f3f1f1;
    margin-top: 100px;
    margin-right: 200px;
    font-size: 64px;
    letter-spacing: 7px;
}

.container-para {
    color: #fcfafa;
    font-size: 24px;
    text-align: left;
}

.button {
    padding: none;
}

.main2-img {}

.footer-1 {
    color: #f80404;
    font-size: 24px;
    margin-top: 10px;
    margin-left: 50px;
}

.l-part {
    color: black;
    font-size: 48px;
    margin-left: 50px;
}

.a:hover {
    display: flex;
    width: 300px;
    height: 400px;
    padding: 3px;
    opacity: 0.5;
    margin: 10px 100px;
}

.line-1 {
    display: flex;
    width: 300px;
    height: 400px;
    margin: 10px 100px;
    padding: 3px;
    position: relative;
}

.line-2 {
    display: flex;
    width: 300px;
    height: 400px;
    margin: 10px 100px;
    padding: 3px;
    position: relative;
}

.box-1 {
    width: 1320px;
    height: 616px;
    color: rgb(243, 16, 16);
    background-image: url("../resources/Rectangle\ 11.png");
    margin: 5px 5px;
}

.email {
    position: relative;
    margin: 80px 0px 0px 580px;
    /* margin-left: 400px; */
}

.box-h1 {
    /* position: absolute; */
    position: relative;
    font-size: 48px;
    margin-left: 420px;
}

.box-p {
    text-align: center;
    font-size: 20px;
}

.box-subimage {
    /* position: relative; */
    margin-top: 48px;
    margin-left: 336px;
    padding: 50px solid;
    /* margin: auto; */
}

.text-on-image {
    position: relative;
}

/* .box-subimage-img{
    position: relative;
} */
.box-subimage-p {
    color: gray;
    position: absolute;
    left: 8%;
    top: 33%;
}

.box-subimage-img-2 {
    position: absolute;
    left: 50%;
    top: 1%;
}

.box-subimage-p-2 {
    color: rgb(250, 250, 252);
    font-size: 20px;
    position: absolute;
    left: 53%;
    top: 28%;
}

.footer-p-1 {
    color: rgb(250, 5, 5);
    font-size: 24px;
    position: absolute;
    margin:80px 100px;
}

.footer-p-2 {
    position: absolute;
    color: rgb(250, 5, 5);
    font-size: 24px;
    margin:80px 950px ;

}

.footer-up {
    background-image: url("../resources/Rectangle\ 10.png");
    width: 1320px;
    height: 500px;
}

.Call {

    background-repeat: no-repeat;
    margin-right: 460px;
    background-size:1%;
    margin: 80px 920px;
    position: absolute;
}

.website {
    background-repeat: no-repeat;
    position: absolute;
    margin: 110px 920px;
    background-size:1%;
}
/* .footer-finising {
    display: flex;
} */

.HR-1 {
    color: #5f5353;
    margin: 170px 70px ;
    position: absolute;
}
.icon {
    position: absolute;
    margin: 220px 500px;
    display: flex; 
}
.HR-2 {
    color: #5f5353;
    margin: 330px 70px ;
    position: absolute;
}

.last {
    display: flex;
}

.last-footer-p {
    color: #faf7f7;
    position: absolute;
    margin: 400px 100px;
}

.last-footer-button {
    height: 30px;
    width: 90px;
    margin: 400px 1100px;
    position: absolute;
    
}

.last-footer-button:hover {
    font-size: medium;
}

.bonus {
    width: 1320px;
    height: 600px;
    background-color: #dad3d3;
}

.group-17 {
    margin-top: 200px;
    margin-left: 20px;
    position: absolute;
}

.Group-20 {
    background-image: url("../resources/Ellipse\ 1.png");
    width: 364px;
    height: 364px;
    border: 4px solid red;
    border-radius: 50%;
    position: absolute;
    margin: 150px 450px;
}

.Group-18 {
    position: absolute;
    margin: 200px 1000px;
    width: 180px;
    height: 20px;
}

.Group-94 {
    background-image: url('../resources/happy.png');
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    position: absolute;
    margin: 350px 1000px;
}