header {
    width: 1320px;
    height: 600px;
    background-image: url("/resources/Banner\ Image.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.Banner-para1 {
    width: 259px;
    height: 40px;
    color: #f80404;
    font-size: 32px;
    font-weight: 40px;
    margin-left: 30%;
    padding: 0px;
    line-height: normal;
}

.Banner-h1 {
    width: 632px;
    height: 190px;
    color: #5a03fc;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-left: 10%;
}
.All-body{

}

.main {
    align-items: center;
    display: block;
    text-align: center;
}

.container {
    width: 1320px;
    height: 600px;
    background-image: url("/resources/Vectorrr.png");
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.main-h1 {
    color: #f80404;
    text-align: center;
    font-size: 88px;
}

.main-para1 {
    color: #f80404;
    font-size: 24px;
    text-align: center;
}

.main-h2 {
    color: black;
    text-align: center;
    font-size: 48px;
}

.main-img {
    width: 802px;
    height: 500px;
    /* margin: 48px 20%; */
    position: relative;
}

.main2 {}





.container-h1 {
    color: #f3f1f1;
    margin-top: 100px;
    margin-right: 200px;
    font-size: 64px;
    letter-spacing: 7px;
}

.container-para {
    color: #fcfafa;
    font-size: 24px;
    text-align: left;
}
.button{
    padding: none;
}

.main2-img{ 
    

    }